{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h2>Flux d'activités</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sport</th>
                <th>Distance</th>
                <th>Durée</th>
                <th>Rythme moy.</th>
                <th>Lieu</th>
                <th>Partenaire(s)</th>
                <th>Vitesse moy.</th>
                <th>Fréq. cardiaque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.date ? activity.date|date('d/m/Y') : '' }}</td>
                <td>{{ activity.sport }}</td>
               
                {% if activity.sport == "Run" 
                   or activity.sport == "Bike" 
                   or activity.sport == "Triathlon"
                   or activity.sport == "Swimrun"%}
                     <td>{{ activity.distance }} km</td>
                {% elseif activity.sport == "Swim" %}
                     <td>{{ activity.distance }} m</td>
                {% elseif activity.sport == "Muscu" %}
                     <td>-</td>
                {% else %}     
                    <td>D NR</td>
                {% endif %}

                <td>{{ activity.duration ? activity.duration|date('H:i:s') : '' }}</td>

                {% if  activity.sport == "Run" or activity.sport == "Bike" %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /km</td>
                {% elseif activity.sport == "Swim" %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /100m</td>
                {% elseif activity.sport == "Muscu"
                       or activity.sport == "Triathlon" 
                       or activity.sport == "Swimrun" %}
                    <td>-</td>
                {% else %}
                    <td>R NR</td>
                {% endif %}

                <td>{{ activity.place }}</td>
                {% if activity.partner != null %}
                    <td>{{ activity.partner }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}

                {% if  activity.sport == "Run" or activity.sport == "Bike" %}
                    <td>{{ activity.averageSpeed }} km/h</td>
                {% elseif activity.sport == "Swim" 
                       or activity.sport == "Muscu"
                       or activity.sport == "Triathlon"
                       or activity.sport == "Swimrun" %}
                    <td>-</td>
                {% else %}
                    <td>V NR</td>
                {% endif %}

                {% if activity.heartRate != null %}
                    <td>{{ activity.heartRate }} bpm</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                
                <td>
                    <a href="{{ path('activity_show', {'id': activity.id}) }}">voir</a>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune activité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('activity_new') }}">Create new</a> -->
{% endblock %}
