{% extends 'base.html.twig' %}

{% block body %}

<script>
    //A laisser dans ce fichier car utilisation des vars {} de twig
    var arrayActivities = []; //déclaration du tableau
    //Remplissage du tableau
    {% for activity in activities %}
        var myActivity = new Object();
        myActivity.id = "{{ activity.id }}";
        var strDate = "{{ activity.date|date('Y-m-d') }}";
        myActivity.strDate = strDate;
        myActivity.sport = "{{ activity.sport }}";
        myActivity.distance = {{ activity.distance }};
        myActivity.duration = "{{ activity.duration|date('H:i:s') }}";
        arrayActivities.push(myActivity);
    {% endfor %} 
</script>



<style>
/*Limite la taille du calendrier
#calendar {
    max-width: 900px;
    margin: 0 auto;
  }
*/
</style>

</head>

<body>
    <div id='calendar'></div>
    <br>
</body>

{% endblock %}