{% extends 'base.html.twig' %}

{% block title %}Hello RecapController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if activities|length > 0 %}
        <!-- Récupère la dernière activité de l'utilisateur connecté -->
        {% set lastActivity = activities|last%}
        <h2>Récapitulatif {{lastActivity.sport}}</h2>

        <div class="row sameheight-container">
        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Dernière activité</h5>
                   <!--  <p class="card-text">{{lastActivity.sport }}</p> -->
                    <p class="card-text">{{lastActivity.place }}</p>
                    <p class="card-text">{{ lastActivity.date|date('d/m/Y') }}</p>
                    {% if lastActivity.sport == "Run" 
                       or lastActivity.sport == "Bike" 
                       or lastActivity.sport == "Triathlon"
                       or lastActivity.sport == "Swimrun"%}
                        <p class="card-text">{{ lastActivity.distance }} km</p>
                    {% elseif activity.sport == "Swim" %}
                        <p class="card-text">{{ lastActivity.distance }} m</p>
                    {% elseif lastActivity.sport == "Muscu" %}
                       <!-- pas de distance en muscu -->
                    {% else %}     
                       <p>D NR</p>
                    {% endif %}
                    <p class="card-text">{{ lastActivity.duration|date('H:i:s') }}</p>
                    {% if lastActivity.sport == "Run" or lastActivity.sport == "Bike" %}
                        <p class="card-text">{{ lastActivity.averagePace|date('i:s') }} /km</p>
                    {% elseif lastActivity.sport == "Swim" %}
                        <p class="card-text">{{ lastActivity.averagePace|date('i:s') }} /100m</p>
                    {% elseif lastActivity.sport == "Muscu"
                           or lastActivity.sport == "Triathlon" 
                           or lastActivity.sport == "Swimrun" %}
                        <!-- pas de rythme dans ces sports -->
                    {% else %}
                        <p>R NR</p>
                    {% endif %}
                    <p class="card-text">{{ lastActivity.activityType }}</p>
                    
                    <a href="{{ path('activity_show', {'id': lastActivity.id}) }}" class="btn btn-primary"> Visualiser</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ce mois-ci</h5>

                    <!-- 
                       - On récupère la date actuelle (dateNow) 
                       - On créer 2 variables pour le cumuls des activités et de la distance sur le mois en    cours
                    -->
                    {% set dateNow = "now"|date("m/Y") %}
                    {% set sumActivities = 0 %}
                    {% set sumDistance = 0 %}
                    {% for activity in activities %}
                        {% if activity.date|date('m/Y') == dateNow %}
                            {% set sumActivities = sumActivities + 1 %}
                            {% set sumDistance = sumDistance + activity.distance %}
                        {% endif %}
                    {% endfor %}
                    <p class="card-text">Nb activité(s): {{sumActivities}}</p>
                    <p class="card-text">Distance: {{sumDistance}}</p>

                </div>
            </div>
        </div>
    </div>

    {% else %}
        <p>Aucune activité enregistrée</p>
        
    {% endif %}

    <br>
    <a href="{{ path('activity_recap') }}" class="btn btn-secondary" role="button" aria-pressed="true">Retour liste des sports </a>

</div>



{% endblock %}
