{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}

    <h2>{{ activity.sport }}</h2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="w-100"></div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav px-3">
                             <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-primary" role="button" aria-pressed="true">Modifier</a>
                        </ul>
                        {{ include('activity/_delete_form.html.twig') }}
                    </div>
    </nav>


    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ activity.date ? activity.date|date('d/m/Y') : ''  }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ activity.distance }} km</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ activity.duration ? activity.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ activity.place }}</td>
            </tr>
            <tr>
                <th>Partenaire(s)</th>
                {% if activity.partner != null %}
                    <td>{{ activity.partner }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr>
                <!-- -->
                <th>Rythme moyen</th>
                {% if  activity.sport == "Run" %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /km</td>
                {% else %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /100m</td>
                {% endif %}
            </tr>
            <tr>
                <!-- -->
                <th>Vitesse moyenne</th>
                {% if  activity.sport == "Run" %}
                    <td>{{ activity.averageSpeed }} km/h</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr>
                <th>Fréquence cardiaque</th>
                {% if activity.heartRate != null %}
                    <td>{{ activity.heartRate }} bpm</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_index') }}" class="btn btn-secondary" role="button" aria-pressed="true">Retour à la liste</a>
    <a href="{{ path('activity_home') }}"  class="btn btn-secondary" role="button" aria-pressed="true">Retour au calendrier</a>

{% endblock %}
