{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}

    <h2>{{ activity.sport }}</h2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="w-100"></div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav px-3">
                             <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-primary" role="button" aria-pressed="true">Modifier</a>
                        </ul>
                        {{ include('activity/_delete_form.html.twig') }}
                    </div>
    </nav>


    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ activity.date ? activity.date|date('d/m/Y') : ''  }}</td>
            </tr>
            <tr>
                <!-- La distance n'existe pas uniquement en muscu !-->
                {% if activity.sport != "Muscu" %}
                    <th>Distance</th>
                {% endif %}

                {% if  activity.sport == "Run" 
                    or activity.sport == "Bike"
                    or activity.sport == "Triathlon" 
                    or activity.sport == "Swimrun" %}
                    <td>{{ activity.distance }} km</td>
                {% elseif activity.sport == "Swim" %}
                    <td>{{ activity.distance }} m</td>
                {% elseif activity.sport == "Muscu" %}
                    <!-- Pas de <td> car pas <th>Distance</th> -->
                {% else %}
                    <td>D NR</td>
                {% endif %}
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ activity.duration ? activity.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ activity.place }}</td>
            </tr>
            <tr>
                <th>Partenaire(s)</th>
                {% if activity.partner != null %}
                    <td>{{ activity.partner }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr>
                <!-- Le rythme moyen n'existe pas en muscu, triathlon et swimrun !-->
                {% if activity.sport != "Muscu" 
                  and activity.sport != "Triathlon" 
                  and activity.sport != "Swimrun" %}
                    <th>Rythme moyen</th>
                {% endif %}
                
                {% if  activity.sport == "Run" or activity.sport == "Bike" %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /km</td>
                {% elseif activity.sport == "Swim" %}
                    <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /100m</td>
                {% elseif activity.sport == "Muscu"
                       or activity.sport == "Triathlon" 
                       or activity.sport == "Swimrun" %}
                    <!-- Pas de <td> car pas <th>Rythme moyen</th> -->
                {% else %}
                    <td>R NR</td>
                {% endif %}
            </tr>
            <tr>
                <!-- La vitesse moyenne n'existe pas en swim, muscu, triathlon et swimrun !-->
                {% if activity.sport != "Swim" 
                  and activity.sport != "Muscu" 
                  and activity.sport != "Triathlon" 
                  and activity.sport != "Swimrun" %}
                    <th>Vitesse moyenne</th>
                {% endif %}
                
                {% if  activity.sport == "Run" or activity.sport == "Bike" %}
                    <td>{{ activity.averageSpeed }} km/h</td>
                {% elseif activity.sport == "Swim" 
                       or activity.sport == "Muscu"
                       or activity.sport == "Triathlon"
                       or activity.sport == "Swimrun" %}
                     <!-- Pas de <td> car pas <th>Vitesse moyenne</th> -->
                {% else %}
                    <td>V NR</td>
                {% endif %}
            </tr>
            <tr>
                <th>Fréquence cardiaque</th>
                {% if activity.heartRate != null %}
                    <td>{{ activity.heartRate }} bpm</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_activities') }}" class="btn btn-secondary" role="button" aria-pressed="true">Retour à la liste</a>
    <a href="{{ path('activity_home') }}"  class="btn btn-secondary" role="button" aria-pressed="true">Retour au calendrier</a>

{% endblock %}
