{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h2>{{ activity.sport }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ activity.date ? activity.date|date('d/m/Y') : ''  }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ activity.distance }} km</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ activity.duration ? activity.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ activity.place }}</td>
            </tr>
            <tr>
                <th>Partenaire(s)</th>
                <td>{{ activity.partner }}</td>
            </tr>
            <tr>
                <th>Rythme moyen</th>
                <td>{{ activity.averagePace ? activity.averagePace|date('i:s') : ''}} /km</td>
            </tr>
            <tr>
                <th>Vitesse moyenne</th>
                <td>{{ activity.averageSpeed }} km/h</td>
            </tr>
            <tr>
                <th>Fréquence cardiaque</th>
                <td>{{ activity.heartRate }} bpm</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a></br>
    <a href="{{ path('activity_index') }}">Retour à la liste</a>


    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
