{% extends 'base.html.twig' %}

{% form_theme formActivity 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello InputController!{% endblock %}

{% block body %}
    <h2>Nouvelle activité :</h2>
    <div class="formActivity">
        {{ form_start(formActivity) }}

        <!--Type de sport-->
        {{ form_label(formActivity.sport) }}
        {{ form_widget(formActivity.sport, {'attr' : {'placeholder' : "Type de sport"}}) }} 
        </br>
        <!--Type d'activité-->
        {{ form_row(formActivity.activitytype, {'attr' : {'placeholder' : 'Type d\'activité'}}) }}
        
        <!--Durée-->
        {{ form_label(formActivity.duration) }}
        {{ form_widget(formActivity.duration) }}
        <br>
        <!--Date-->
        {{ form_label(formActivity.date) }}
        {{ form_widget(formActivity.date) }} 

        </br>
        {{ form_label(formActivity.distance) }}
    </div>
    <!--Distance-->
    <div class="row">
        <div id="formActivity_text">
            {{ form_widget(formActivity.distance, {
                'attr' : {'placeholder' : 'Distance'}
            }) }}
        </div>
        <div class="form_text">
            <p> en km</p>
        </div>
    </div>
    <br>
    <!--Lieu ; Partenaires-->
    <div class="formActivity">
        {{ form_row(formActivity.place, {'attr' : {'placeholder' : 'Lieu'}}) }}
        {{ form_row(formActivity.partner, {'attr' : {'placeholder' : 'Partenaires de course'}}) }}
        {{ form_label(formActivity.averagePace) }}
    </div>
    <!--Rythme moyen-->
    <div class="row">
        <div id="formActivity_text">
            {{ form_widget(formActivity.averagePace, {'attr' : {'placeholder' : 'Rythme moyen'}}) }}
        </div>
        <div class="form_text">
            <p> /km</p>
        </div>
    </div>
    <!--Vitesse moyenne-->
    <br>
    {{ form_label(formActivity.averageSpeed) }}
    <div class="row">
        <div id="formActivity_text">
            {{ form_widget(formActivity.averageSpeed, {'attr' : {'placeholder' : 'Vitesse moyenne'}}) }}
        </div>
        <div class="form_text">
            <p> km/h</p>
        </div>
    </div>
    <!--Rythme cardiaque-->
    {{ form_label(formActivity.heartRate) }}
    <div class="row">
        <div id="formActivity_text">
            {{ form_widget(formActivity.heartRate, {'attr' : {'placeholder' : 'Rythme cardiaque'}}) }}
        </div>
        <div class="form_text">
            <p> bpm</p>
        </div>
    </div>

    <button type="submit" class="btn btn-success" id="btn-save">Enregistrer</button>

    {{ form_end(formActivity) }}

{% endblock %}