{% extends 'base.html.twig' %}

{% form_theme formActivity 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello InputController!{% endblock %}

{% block body %}
    <h2>Nouvelle activité :</h2>

    {{ form_start(formActivity) }}

    {{ form_row(formActivity.sport, {'attr' : {'placeholder' : "Type de sport"}}) }}
    {{ form_row(formActivity.activitytype, {'attr' : {'placeholder' : 'Type d\'activité'}}) }}
    {{ form_row(formActivity.duration) }}
    {{ form_row(formActivity.distance, {'attr' : {'placeholder' : 'Distance'}}) }}
    {{ form_row(formActivity.place, {'attr' : {'placeholder' : 'Lieu'}}) }}
    {{ form_row(formActivity.partner, {'attr' : {'placeholder' : 'Partenaires de course'}}) }}
    {{ form_row(formActivity.averagePace, {'attr' : {'placeholder' : 'Rythm moyen'}}) }}
    {{ form_row(formActivity.averageSpeed, {'attr' : {'placeholder' : 'Vitesse moyenne'}}) }}
    {{ form_row(formActivity.heartRate, {'attr' : {'placeholder' : 'Rythme cardiaque'}}) }}
    

    <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(formActivity) }}

{% endblock %}
